pyqt5~=5.15.10
requirements_dev.txt
setuptools~=65.5.1
PyYAML~=6.0.1
obspy~=1.4.0
Cartopy~=0.22.0
shapely~=2.0.2
matplotlib~=3.8.2
OWSLib~=0.29.3
SQLAlchemy~=2.0.23
Pillow~=10.1.0
pandas~=2.1.4
numpy~=1.26.2
surfquakecore~=0.0.1
scipy~=1.11.4
future~=0.18.3
tensorflow~=2.15.0
pyproj~=3.6.1